---
url: https://help.noones.com/portal/en/kb/articles/limits-and-verification
captured: 2026-10-23
word_count: 981
status: raw
---

###### Welcome to noones Portal

[Skip to Content](https://help.noones.com/portal/en/kb/articles/limits-and-verification#mainContainer) [Skip to Menu](https://help.noones.com/portal/en/kb/articles/limits-and-verification#headerContainer) [Skip to Footer](https://help.noones.com/portal/en/kb/articles/limits-and-verification#footerContainer)

?Unknown

- [Knowledge Base](https://help.noones.com/portal/en/kb)
- [Account Verification](https://help.noones.com/portal/en/kb/account-verification)
- [Account Verification](https://help.noones.com/portal/en/kb/account-verification/account-verification)

# Limits and Verification

On this page

- Wallet limits
- P2P Trade limits

Verified users on the platform have access to more features, such as higher trade amounts and unlimited transactions, a free crypto wallet, and the ability to publish their own offers on the marketplace.

Below are the tables showing our verification levels and their associated wallet and trading benefits.

#### Wallet limits

| Verification level | L1<br>Email, Name,  DOB | L1+<br>Basic\* | L2<br>ID | L3<br>Address |
| --- | --- | --- | --- | --- |
| **Free wallet** | Yes | Yes | Yes | Yes |
| Daily Limit | $5K | ∞ | ∞ | ∞ |
| **Lifetime Send-out Limit** | $20K | ∞ | ∞ | ∞ |
| **Send-out Tx Limit** | $1K | ∞ | ∞ | ∞ |
| **Lightning deposit Tx Limit** | $1K | $1K | $5K | $5K |
| **Lightning send-out Tx Limit** | $1k | $1k | $1k | $1k |

#### P2P Trade limits

| Verification level | L1<br>Email, Name, DOB | L1+<br>Basic\* | L2<br>ID | L3<br>Address |
| --- | --- | --- | --- | --- |
| **Publish Offers** | No | Yes | Yes | Yes |
| Daily Limit | $5K | ∞ | $100K | 1 million |
| Per trade limit | $5K | ∞ | $100K | 1 million |
| **Lifetime Trade Limit** | $20K | ∞ | ∞ | ∞ |

\\* Basic verification is a manual review performed by our compliance team. It can take up to 72h.

**Note**: Lifetime trade limits and wallet send-out limits are tracked separately. For example, you can have $500 remaining for trading, and $4,000 left for wallet send outs.

**Note:** the daily limit applies to the _sum_ of all operations performed by user over the last 24 hours:

- trade (initiated via marketplace and via messenger)

- internal and external send-out

- receiving internal deposit
- convert (aka swap, hedging)


**Why should I verify my account?**

With each new level of verification, here’s a glimpse of what you’ll unlock:

**Level 0**

Sign up with an email, verify it, and get your Citizen ID. You can't trade yet, but everything starts small. Share your Citizen ID QR code and invite friends to join us to start earning crypto rewards. It's that easy.

**Level 1**

Level 1 is the starting point in the peer-to-peer world. We ask for your date of birth to confirm your legal age and eligibility for our services.

Level 1 grants a daily limit of $5,000. You can receive funds from friends on the platform as well as deposit crypto to your personal crypto deposit address, convert cryptocurrencies, or buy or sell them on the marketplace. There is a lifetime limit of $20,000 for trading and $20,000 for wallet send-out transactions.

- Free crypto wallet

- Ability to trade and send out crypto

- Ability to convert cryptocurrency

- Daily limit of $5,000
- Trade lifetime limit of $20,000
- Send-out lifetime limit of $20,000

**Level 1 Plus**

Obtaining a satisfactory identification document that meets stringent Know Your Customer (KYC) standards can be challenging and time-consuming in certain regions. Additionally, KYC providers often lack timely responses and may not support all types of identification documents specific to a particular location. To address these limitations, we offer Basic Verification. With Basic Verification, you can verify your identity using any valid document you possess. Level 1 Plus unlocks the ability to create and publish your own offers on the marketplace along with no daily or lifetime limits

- Create and publish offers

**Level 2**

Verify your identity and get rid of all limits. There are no daily or lifetime limits whatsoever. The only limit is the maximum amount per trade, which is $100,000. But you can have as many trades as you want.

- Per-trade limit $100,000

- No daily or lifetime limits

- Access to more payment methods
- Ability to create and publish your own offers

**Level 3**

Enhanced due diligence checks require verification of address. Level 3 users can trade up to $1,000,000 in a single trade.

- Increased per-trade limit $1,000,000

**Warning:**

- In order to publish an offer, you need to be ID-verified or pass Basic Verification.
- The per-trade limit for a trade is calculated based on the total volume of all active trades available for your current level.
- Some services, such as create a virtual Visa card, will require you to complete ID verification.
- Check if your country is on the list where [we may not make all of the Services available.](https://support.noones.com/hc/en-us/articles/6578722949647-List-of-countries-blocked-on-Noones) In case your country is on the list, do not attempt to circumvent any restrictions imposed via the Services, such as by obscuring your IP address or submitting any inaccurate information regarding your location. Please refrain from using the platform in this case.

Please visit our Help Center for [more information on the verification process](https://support.noones.com/hc/en-us/articles/6125358076815-ID-Verification).

Updated:2 months ago

Helpful?

- [Facebook](https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhelp.noones.com%2Fportal%2Fen%2Fkb%2Farticles%2Flimits-and-verification&amp;display=popup&amp;ref=plugin "Facebook")
- [Twitter](https://twitter.com/intent/tweet?url=https%3A%2F%2Fhelp.noones.com%2Fportal%2Fen%2Fkb%2Farticles%2Flimits-and-verification "Twitter")
- [LinkedIn](https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fhelp.noones.com%2Fportal%2Fen%2Fkb%2Farticles%2Flimits-and-verification "LinkedIn")

Follow

Subscribe to receive notifications from this article.

##### [Account Verification](https://help.noones.com/portal/en/kb/account-verification/account-verification)

[Phone Verification](https://help.noones.com/portal/en/kb/articles/phone-verification "Phone Verification")

[When would I need to verify my identity?](https://help.noones.com/portal/en/kb/articles/when-would-i-need-to-verify-my-identity "When would I need to verify my identity?")

[Basic Verification](https://help.noones.com/portal/en/kb/articles/basic-verification "Basic Verification")

[Email Verification](https://help.noones.com/portal/en/kb/articles/email-verification "Email Verification")

[Address Verification Requirements](https://help.noones.com/portal/en/kb/articles/address-verification-requirements "Address Verification Requirements")

[Limits and Verification](https://help.noones.com/portal/en/kb/articles/limits-and-verification "Limits and Verification")

[Verification Issues and Troubleshooting](https://help.noones.com/portal/en/kb/articles/verification-issues-and-troubleshooting "Verification Issues and Troubleshooting")

[Video Verification](https://help.noones.com/portal/en/kb/articles/video-verification "Video Verification")

[Address Verification](https://help.noones.com/portal/en/kb/articles/address-verification "Address Verification")

[Verification Processing Time](https://help.noones.com/portal/en/kb/articles/verification-processing-time "Verification Processing Time")

[View all](https://help.noones.com/portal/en/kb/account-verification/account-verification)

##### Tags

[address](https://help.noones.com/portal/en/kb/tags/address)

[level](https://help.noones.com/portal/en/kb/tags/level)

[id](https://help.noones.com/portal/en/kb/tags/id)

[verification](https://help.noones.com/portal/en/kb/tags/verification)

- ##### Related Articles

















[Address Verification](https://help.noones.com/portal/en/kb/articles/address-verification "Address Verification")











[Address Verification Requirements](https://help.noones.com/portal/en/kb/articles/address-verification-requirements "Address Verification Requirements")











[Verification Processing Time](https://help.noones.com/portal/en/kb/articles/verification-processing-time "Verification Processing Time")











[Verification Issues and Troubleshooting](https://help.noones.com/portal/en/kb/articles/verification-issues-and-troubleshooting "Verification Issues and Troubleshooting")











[ID Verification](https://help.noones.com/portal/en/kb/articles/id-verification "ID Verification")