[python: **.py]
[jinja2: **.jinja2]
extensions=jinja2.ext.autoescape

[extractors]
# The keys above are the names of the extractor functions
# which are used to extract translatable strings from source files
